@model IEnumerable<Shop.Models.Purchase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.purchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
