@model Shop.Models.City

@{
    ViewBag.Title = "Details of City";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Details of @Html.DisplayFor(model => model.name)</h2>

<div class="card">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Country Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-success btn-sm" }) |
    <a class="btn btn-primary" href="/Cities/Index/">Back To Index</a>
</p>
